:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}
nav {
  display: flex;
  flex-direction: column;
  width: 68px;
  background-color: #53ace4;
}
nav .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
}
section {
  width: 100%;
}
section > header {
  color: black;
  padding: 10px 10px 0px 10px;
}
section > header > h1 {
  font-size: 2em;
}
section > header .description {
  font-style: italic;
}

.example-spacer{
  flex: 1 1 auto;
}

.example-card{
  background: none;
  border: none;
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0)
}

.login-satatus{
  font-size: 12px;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}

ul li{
  padding: 2px;
  font-size: 15px;
}

.iconpadding{
  padding: 5px;
}

#wrapper{
  width: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 0 auto;
}

#leftSearch{
  padding-left: 10px;
  width: 30%;
  float: left;
  box-sizing: border-box;
}

#wrapper section header{
  padding: 0 0 0 0;
  margin: 0 0 0 0;

}

#wrapper section{
  padding: 0 0 0 0;
  margin: 0 0 0 0;

}

