:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
}
nav {
  display: flex;
  flex-direction: column;
  width: 68px;
  background-color: #53ace4;
}
nav .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
}
section {
  width: 100%;
}
section > header {
  color: black;
  padding: 10px;
}
section > header > h1 {
  font-size: 2em;
}
section > header .description {
  font-style: italic;
}

.example-spacer{
  flex: 1 1 auto;
}

.example-card{
  background: none;
  border: none;
  box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0)
}

.login-satatus{
  font-size: 12px;
  list-style-type: none;
  padding: 10px 10px 10px 10px;
}