<header 
    [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
    <h2>{{medium}}</h2>
</header>
<section>
  <div id="searchfilterdelete">
        <input type="text" placeholder="Search" size="20" #search (keyup)="onKey($event, search.value)">
         
         <button md-icon-button (click)="deleteItem()">
            <md-icon *ngIf="selectedDelete">delete</md-icon>
          </button>
          <button md-icon-button (click)="sorting($event)">
            <md-icon >sort</md-icon>
          </button>
          <button md-icon-button (click)="openDialog()">
            <md-icon>filter_list</md-icon>
          </button>
            {{selectedOption}}
          <md-chip-list>
             <md-chip> &nbsp; {{ mediaItemsCount }} &nbsp; </md-chip>
          </md-chip-list>
  </div>
  <div id="iconmenu">
    <i class="material-icons iconmenuclass">person</i>
    <i class="material-icons iconmenuclass">av_timer</i>
    <i class="material-icons iconmenuclass">layers</i>
    <i class="material-icons iconmenuclass">wc</i>
    <i class="material-icons iconmenuclass">home</i>
    <i class="material-icons iconmenuclass">location_on</i>
  </div>
  <div id="leftList">
    
      
        <md-list style="padding: 0px;">
    <mw-media-item
      *ngFor="let mediaItem of mediaItems | sortingView"
      [mediaItem]="mediaItem"
      (click)="tes(mediaItem)"
      [select]="selectedId"
      (select2)="onMediaItemSelect($event)"
      (wantToDelete)="onWantToDelete($event)"></mw-media-item>
        </md-list>
     
  </div>
  <div id="rightForm">
    <mw-media-item-form [employeeForm]="employee" (changes)="onMediaItemChanges($event)" (upload)="onUpload($event)"> </mw-media-item-form>
  </div>
</section>