:host {
  display: inline;
  /*flex-direction: column;*/
  width: 140px;
  height: 50px;
  /*
  border: 2px solid;
  background-color: #29394b;
  */
  background-color: white;
  padding: 0px;
  color: #bdc2c5;
}
h2 {
  font-size: 1.6em;
  flex: 1;
}
:host.medium-movies {
  border-color: #53ace4;
}
:host.medium-movies > h2 {
  color: #53ace4;
}
:host.medium-series {
  border-color: #45bf94;
}
:host.medium-series > h2 {
  color: #45bf94;
}
.tools {
  margin-top: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.favorite {
  width: 24px;
  height: 24px;
  fill: #bdc2c5;
}
.favorite.is-favorite {
    fill: #37ad79;
}
.favorite.is-favorite-hovering {
    fill: #45bf94;
}
.favorite.is-favorite.is-favorite-hovering {
    fill: #ec4342;
}
.delete {
  display: block;
  background-color: #ec4342;
  padding: 4px;
  font-size: .8em;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.details {
  display: block;
  background-color: #37ad79;
  padding: 4px;
  font-size: .8em;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
}

.example-card {
  width: 250px;
  height: 50;
  padding: 2px 1px 1px 1px;
  margin: 0px 0px 0px 0px;
}

.example-card:hover{
  color: blue;
}

.example-header-image {
  background-image: url('media/shiba1.jpg');
  background-size: cover;
}

.example-card{
  width: 100%;
}

.emp-selected{
  background-color: grey;
}