<header 
    [ngClass]="{'medium-movies':medium === 'Movies', 'medium-series':medium === 'Series'}">
    <h2>{{medium}}</h2>
    <div>{{ mediaItems | categoryList }}</div>
</header>
<section>
  <div id="leftList">
    <md-input-container class="example-full-width">
          <input mdInput placeholder="Search" size="10" #search (keyup)="onKey($event, search.value)"> <!-- (input)="filterItem(search.value)" -->
        </md-input-container>
        <button md-icon-button (click)="sorting($event)">
          <md-icon >sort</md-icon>
        </button>
        <button md-icon-button (click)="openDialog()">
          <md-icon>filter</md-icon>
        </button>
        
      <md-chip> {{ mediaItemsCount }}</md-chip>
    

    <mw-media-item
      [ngClass]="{'medium-movies': mediaItem.medium==='Movies', 'medium-series':mediaItem.medium==='Series'}" 
      *ngFor="let mediaItem of mediaItems"
      [mediaItem]="mediaItem"
      (delete)="onMediaItemDelete($event)"></mw-media-item>
  </div>
  <div id="rightForm">
    <mw-media-item-form> </mw-media-item-form>
  </div>
</section>
 
<footer>
  <a routerLink="/add">
    <img src="media/01.png" class="icon" />
  </a>
</footer>