:host {
  display: block;
  flex-direction: column;
  padding: 0 0px;
  margin-bottom: 20px;
}
header {
  color: #c6c5c3;
}
header.medium-movies {
  color: #53ace4;
}
header.medium-series {
  color: #45bf94;
}
header > h2 {
  font-size: 1.4em;
}
header > h2.error {
  color: #d93a3e;
}
section {
  flex: 1;
  display: inline-block;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
}
section > media-item {
  margin: 10px;
}
footer {
  text-align: right;
}
footer .icon {
  width: 64px;
  height: 64px;
  margin: 15px;
}

#leftList{
  width: 30%;
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  clear: both;
}

#leftList p{
  background-color: white /* #5160b5*/;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#rightForm{
  width: 70%;
  float: left;
  box-sizing: border-box;
}
  
#divfix{
  bottom: 0px;
  top: 400px;
  right: 50px;
  left: 230px;
  position: absolute;
  z-index: 3000;
}

#searchfilterdelete{
  background: #5b6bc5;
  color: white;
  width: 30%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0px;
  float: left;
}

#searchfilterdelete input[type=text] {
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    border: none;
    outline: none;
    background-color: #5b6bc5;
    color: white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

#iconmenu{
  background: #5b6bc5;
  color: white;
  width: 69.9%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0px;
  float: left;
  border-left: 1px solid white;
}

.iconmenuclass{
  padding-left: 65px;
  padding-right: 65px;
}


